body {
    background-color: #000000;
    gap: 0.5rem;
    font-family: tahoma;
    color: #282828;
    display: flex;
    flex-direction: row;
  }

  #calc {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-areas:
      "screen screen screen screen"
      "C ANS DEL plus"
      "one two three min"
      "four five six mult"
      "seven eight nine div"
      "pi zero point equals";
  }

  #screen {
      grid-area: screen;
  }

  p {
      margin: 0px;
      font-family:'Courier New', Courier, monospace;
      font-size: medium;
  }

  #screen > p {
      height: 40px;
      width: 240px;
      background-color: aquamarine;
  }

  button {
      height: 40px;
      width: 60px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: larger;
  }

  #out > div > p {
      height: 240px;
      width: 240px;
      background-color: aliceblue;
  }

  #C {
      grid-area: C;
  }

  #ANS {
    grid-area: ANS;
  }
  #DEL {
    grid-area: DEL;
  }
  #plus {
    grid-area: plus;
  }
  #one {
    grid-area: one;
  }
  #two {
      grid-area: two;
  }
  #three {
    grid-area: three;
  }
  #min {
      grid-area: min;
  }
  #four {
    grid-area: four;
  }
  #five {
      grid-area: five;
  }
  #six {
    grid-area: six;
  }
  #mult {
      grid-area: mult;
  }
  #seven {
    grid-area: seven;
  }
  #eight {
      grid-area: eight;
  }
  #nine {
    grid-area: nine;
  }
  #div {
      grid-area: div;
  }
  #pi {
    grid-area: pi;
  }
  #zero {
      grid-area: zero;
  }
  #point {
    grid-area: point;
  }
  #equals {
      grid-area: equals;
  }

  @media only screen and (max-width: 570px) {
    body {
        flex-direction: column;
    }
}
  
